* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Audiowide", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.header-icon {
  width: 100px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picTitle {
  text-align: center;
  color: orangered;
  margin-bottom: 1rem;
}

.image {
  border-radius: 10px;
}